.title {
  color: #474444;
}

.content {
  border-top-color: #c7c7c7 !important;
  border-bottom-color: #989898 !important;
  max-height: 30rem;
}

.contextText {
  color: #494646 !important;
  max-height: 25rem;
}

.btn {
  color: #3a3737 !important;
  // color: #114c2a !important;
}
