.root {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(2, 1, 48, 0.7), rgba(0, 0, 0, 0.7)), url(../asset/casino-bg.jpg);
  background-size: cover;
  background-position: top;
  padding-top: 20px;
  text-align: center;
}

.slotMachine {
  background-image: url('../asset/slot-machine.jpg');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  height: 38rem;
  max-width: 50rem;
  margin: 10rem auto 0 auto;
  background-size: 100% 100%;

  @media only screen and(max-width: 768px) {
    width: 100%;
    margin-top: 18rem;
  }

  @media only screen and(max-width: 414px) {
    height: 48%;
    width: 100%;
    margin-top: 7rem;
    background-size: 100% 100%;
  }
}

.slotBanners {
  position: absolute;
  background-image: url(../asset/new/wolf.jpg);
  background-size: cover;
  background-position: center;

  @media only screen and(max-width: 768px) {
    height: 16rem;
    width: 100%;
    top: -16rem;
  }

  @media only screen and(max-width: 414px) {
    height: 8rem;
    width: 100%;
    top: -8.1rem;
  }
}

.slotScreen {
  position: absolute;
  background-color: #010116;
  width: 69%;
  height: 70.5%;
  top: 0%;
  left: 50.5%;
  transform: translate(-50%);
}

.optionBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  bottom: 2%;
  left: 15%;
  width: 72%;
  height: 27%;
  padding-left: 3%;
  padding-top: 1%;

  .creditBox {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    span {
      font-size: 1rem;
      margin-right: 5px;
      color: green;
    }
  }
}

.inputBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  input[type='number']::placeholder {
    /* Firefox, Chrome, Opera */
    padding-left: 5px;
  }

  input {
    width: 60%;
    padding: 3%;
    background-color: white;
    border-radius: 50rem;
    margin-right: auto;

    @media only screen and(max-width: 414px) {
      padding: 1%;
      width: 50%;
    }
  }

  // placeholder style
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 1rem;
    @media only screen and(width: 720px) and(height:1280px) {
      font-size: 1rem;
    }

    @media only screen and(max-width: 480px) {
      font-size: 9px;
    }
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 1rem;
    @media only screen and(width: 720px) and(height:1280px) {
      font-size: 1rem;
    }
    @media only screen and(max-width: 480px) {
      font-size: 9px;
    }
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 1rem;
    @media only screen and(width: 720px) and(height:1280px) {
      font-size: 1rem;
    }
    @media only screen and(max-width: 480px) {
      font-size: 9px;
    }
  }
  :-moz-placeholder {
    font-size: 1rem;
    @media only screen and(width: 720px) and(height:1280px) {
      font-size: 1rem;
    }
    @media only screen and(max-width: 480px) {
      font-size: 9px;
    }
  }

  .slotButton {
    background-color: #042a5f;
    border-radius: 15px;
    color: azure;
    padding: 2%;
    font-size: 1.5rem;
    padding: 0.6rem 2rem;

    @media only screen and(width: 720px) and(height:1280px) {
      font-size: 1.5rem;
      padding: 0.6rem 2rem;
    }

    @media only screen and(width: 424px) and(height:753px) {
      font-size: 1rem;
      padding: 0.3rem 1rem;
    }

    @media only screen and(max-width: 756px) {
      font-size: 1rem;
      padding: 0.8rem 1rem;
    }

    @media only screen and(max-width: 414px) {
      font-size: 0.8rem;
      padding: 0.1rem 0.6rem;
    }

    @media only screen and(max-width: 320px) {
      font-size: 0.4rem;
      padding: 0.1rem 0.4rem;
    }
  }
}

.btnHandle {
  background: hsl(323, 21%, 16%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 80%;
  padding-top: 2%;
  flex-wrap: wrap;
  max-width: 50rem;
  margin: 0 auto;
}

.slotBtnBox {
  @media only screen and(max-width: 480px) {
    width: 20%;
  }
}

.btnBox {
  width: 15%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  margin-right: 3%;
  @media only screen and(max-width: 550px) {
    width: 30%;
    margin-right: 2%;
  }
}

.leaveBtnBox {
  position: fixed;
  bottom: 1%;
  left: 5%;
  @media only screen and(min-width: 1024px) {
    position: fixed;
    bottom: 90%;
  }
}
