.root {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(2, 1, 48, 0.7), rgba(0, 0, 0, 0.7)), url(../asset/casino-bg.jpg);
  background-size: cover;
  background-position: top;
  padding-top: 20px;
  text-align: center;
}

.slotMachine {
  background-image: url('../asset/slot-machine.jpg');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  height: 38rem;
  max-width: 50rem;
  margin: 10rem auto 0 auto;
  background-size: 100% 100%;

  @media only screen and(max-width: 768px) {
    width: 100%;
    margin-top: 18rem;
  }

  @media only screen and(max-width: 414px) {
    height: 48%;
    width: 100%;
    margin-top: 7rem;
    background-size: 100% 100%;
  }
}

.slotBanners {
  position: absolute;
  background-image: url(../asset/new/wolf.jpg);
  background-size: cover;
  background-position: center;

  @media only screen and(max-width: 768px) {
    height: 16rem;
    width: 100%;
    top: -16rem;
  }

  @media only screen and(max-width: 414px) {
    height: 8rem;
    width: 100%;
    top: -8.1rem;
  }
}

.slotScreen {
  position: absolute;
  background-color: #010116;
  width: 69%;
  height: 70.5%;
  top: 0%;
  left: 50.5%;
  transform: translate(-50%);
}

.optionBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  bottom: 2%;
  left: 15%;
  width: 72%;
  height: 13%;

  // @media only screen and(max-width: 720px) {
  //   bottom: 4%;
  //   left: 15%;
  //   width: 72%;
  //   height: 23.5%;
  // }
}

.inputBox {
  display: flex;
  justify-content: space-around;
  align-items: center;

  input {
    width: 50%;
    padding: 3%;
    background-color: white;
    border-radius: 50rem;

    @media only screen and(max-width: 414px) {
      padding: 1%;
    }
  }

  // placeholder style
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 18px;
    @media only screen and(width: 720px) and(height:1280px) {
      font-size: 18px;
    }

    @media only screen and(max-width: 480px) {
      font-size: 9px;
    }
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 18px;
    @media only screen and(width: 720px) and(height:1280px) {
      font-size: 18px;
    }
    @media only screen and(max-width: 480px) {
      font-size: 9px;
    }
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 18px;
    @media only screen and(width: 720px) and(height:1280px) {
      font-size: 18px;
    }
    @media only screen and(max-width: 480px) {
      font-size: 9px;
    }
  }
  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 18px;
    @media only screen and(width: 720px) and(height:1280px) {
      font-size: 18px;
    }
    @media only screen and(max-width: 480px) {
      font-size: 9px;
    }
  }

  .slotButton {
    background-color: #042a5f;
    border-radius: 15px;
    color: azure;
    padding: 2%;
    font-size: 1.5rem;
    padding: 0.6rem 2rem;

    @media only screen and(width: 720px) and(height:1280px) {
      font-size: 1.5rem;
      padding: 0.6rem 2rem;
    }

    @media only screen and(width: 424px) and(height:753px) {
      font-size: 1rem;
      padding: 0.3rem 1rem;
    }

    @media only screen and(max-width: 756px) {
      font-size: 1rem;
      padding: 0.8rem 1rem;
    }

    @media only screen and(max-width: 414px) {
      font-size: 0.8rem;
      padding: 0.1rem 0.6rem;
    }

    @media only screen and(max-width: 320px) {
      font-size: 0.4rem;
      padding: 0.1rem 0.4rem;
    }
  }
}

.btnHandle {
  background: hsl(323, 21%, 16%); /* fallback for old browsers */
  padding-top: 3%;
  padding-bottom: 3%;

  @media only screen and(max-width: 720px) {
    padding-bottom: 30%;
  }
}

.btnBox {
  display: flex;
  justify-content: space-around;

  // .btn {
  //   cursor: pointer;
  //   box-shadow: 0 7px #999;
  //   box-shadow: 0 0 #233d35;
  //   font-weight: bold;
  //   outline: none;
  //   font-size: 1.4rem;
  //   padding: 15px 10px;
  //   border-radius: 50%;

  //   @media only screen and(width: 424px) and(height: 753px) {
  //     padding: 8px;
  //     font-size: 1rem;
  //   }

  //   @media only screen and(max-width: 500px) {
  //     padding: 5px 8px;
  //     font-size: 0.5rem;
  //     border-radius: 15px;
  //   }

  //   @media only screen and(max-width: 320px) {
  //     padding: 2px 4px;
  //     font-size: 0.2rem;
  //   }
  // }

  // .btn:active {
  //   box-shadow: 0 5px #666;
  //   transform: translateY(4px);
  // }
}

.leaveBtnBox {
  position: fixed;
  bottom: 1%;
  left: 5%;
  @media only screen and(min-width: 1024px) {
    position: fixed;
    bottom: 90%;
  }
}
