.gameTab {
  position: absolute;
  display: inline-block;
  top: 40px;
  right: 40px;
}

.gameDrawer {
  position: absolute;
  top: 10px;
  left: 20px;
}

.gameTabButton {
  background-color: #042a5f;
  padding: 10px;
  margin: 0 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  color: azure;
  font-weight: bold 5px;
  border-color: #073370;
  border-radius: 10px;
}

.buttonPosition {
  position: absolute;
  top: 40px;
  left: 100px;
  background-color: #042a5f;
  padding: 10px;
  margin: 0 10px;
  padding-bottom: 10px;
  color: rgb(255, 240, 240);
  font-size: 1rem;
  font-weight: bold 5px;
  border-color: #073370;
  border-radius: 10px;
}
.buttonPosition2 {
  position: absolute;
  top: 120px;
  left: 100px;
  background-color: #ebdada;
  padding: 10px;
  margin: 0 10px;
  padding-bottom: 10px;
  color: rgb(14, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  border-color: #d2e9bf;
  border-radius: 10px;
}

.buttonPosition3 {
  position: absolute;
  top: 120px;
  right: 120px;
  background-color: #0d6349;
  padding: 10px;
  margin: 0 10px;
  padding-bottom: 10px;
  color: azure;
  font-size: 1rem;
  font-weight: bold 5px;
  border-color: #81f722;
  border-radius: 50%;
}

.buttonPosition4 {
  position: absolute;
  top: 120px;
  right: 200px;
  background-color: #e01313;
  padding: 10px;
  margin: 0 10px;
  padding-bottom: 10px;
  color: azure;
  font-size: 1rem;
  font-weight: bold 5px;
  border-color: #81f722;
  border-radius: 50%;
}

.divPosition {
  position: relative;
}

.backImg_Center {
  width: 100%;
}

.box_Center {
  
}

@media (max-width: 768px) {
  /* .backImg {
    width: fit-content;
    flex-direction: columns;
    min-height: auto;
    min-width: auto;
    max-height: auto;
    max-width: 280px;
  } */
  .backImg-left {
    width: 80%;
  }
  /* .backImg-right {
    min-height: auto;
    min-width: auto;
    max-height: auto;
    max-width: 80px;
  } */
}

@media (max-width: 480px) {
  
}
@media (min-width: 768px) and (max-width: 979px) {
 
}
@media (min-width: 980px) {
}
@media (min-width: 1200px) {
}
