.root {
  // background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../asset/demo/root-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  .container {
    height: 100vh;
  }
}

.box {
  height: 100%;
  background-color: grey;
}

.optionBox {
  height: 100%;
  background-color: #f2f2f2;
}

.screenBorder {
  background-image: url(../../asset/demo/border.png);
  background-repeat: no-repeat;
  background-size: 140% 135%;
  background-position: center;
  position: relative;
}

.screen {
  background-color: rgba(0, 0, 0, 0.8);
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
