/* .mobileGameTab {
  position: absolute;
  display: inline-block;
  top: 60px;
  right: 130px;
}

.mobileGameDrawer {
  position: absolute;
  top: 10px;
  left: 20px;
}

.mobileGameTabButton {
  background-color: #042a5f;
  padding: 10px;
  margin: 0 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  color: azure;
  font-weight: bold 5px;
  border-color: #073370;
  border-radius: 10px;
}

.mobileButtonPosition {
  position: absolute;
  top: 60px;
  left: 160px;
  background-color: #042a5f;
  padding: 10px;
  margin: 0 10px;
  padding-bottom: 10px;
  color: rgb(255, 240, 240);
  font-size: 1rem;
  font-weight: bold 5px;
  border-color: #073370;
  border-radius: 10px;
}
.mobileButtonPosition2 {
  position: absolute;
  top: 150px;
  left: 160px;
  background-color: #ebdada;
  padding: 10px;
  margin: 0 10px;
  padding-bottom: 10px;
  color: rgb(14, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  border-color: #d2e9bf;
  border-radius: 10px;
}

.mobileButtonPosition3 {
  position: absolute;
  top: 150px;
  right: 220px;
  background-color: #0d6349;
  padding: 10px;
  margin: 0 10px;
  padding-bottom: 10px;
  color: azure;
  font-size: 1rem;
  font-weight: bold 5px;
  border-color: #81f722;
  border-radius: 50%;
}

.mobileButtonPosition4 {
  position: absolute;
  top: 150px;
  right: 300px;
  background-color: #e01313;
  padding: 10px;
  margin: 0 10px;
  padding-bottom: 10px;
  color: azure;
  font-size: 1rem;
  font-weight: bold 5px;
  border-color: #81f722;
  border-radius: 50%;
}

.mobilePosition {
  position: relative;
}

.tt {
  position: relative;
}
.mobileBottom {
  position: relative;
  display: inline-block;
}

.mobileBackImg-leftTop {

}

.mobileBackImg-rightTop {
  position:absolute;
	right:36px;
}

.mobileBackImg_Center {
  width: 850px;
}
 */
