* {
  box-sizing: border-box;
}

html {
}

body {
  margin: 0;
  padding: 0;
  /* background-color: black;
  background-image: url('./asset/5dde4f6dc409c1574850413996.jpg');
  background-size: cover;
  background-position: center; */
}

.MuiBackdrop-root {
  /* background-color: red !important; */
}

.MuiDialog-paper {
  /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.odometer-value {
  color: #fff;
}

.odometer-inside {
  padding: 0 0.4rem;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

/* .odometer-inside {
  display: flex;
  align-items: center;
} */
