@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url('./asset/5dde4f6dc409c1574850413996.jpg');
  background-size: cover;
  background-position: center;
}
