*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 65%;
}

body {
  box-sizing: border-box;
}

.main {
  min-height: 80vh;
}

tr {
  cursor: pointer;
}

table {
  font-size: 1.3rem;
}

/*==== Utils ====*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-big {
  /* height: 30rem !important; */
  overflow-y: auto !important;
}

.divider-line {
  border-bottom: 1px solid rgba(55, 94, 148, 0.1);
}

.my-big {
  margin: 3rem 0;
}

/*==== Time Pick Class ====*/
.MuiPickersToolbar-toolbar {
  /* background-color: red !important; */
}

.MuiPickerDTTabs-tabs {
  /* background-color: red !important; */
}

/* Label */
.MuiFormLabel-root {
  color: #7b8ab8 !important;
}
/* Input */
.MuiInputBase-input {
  color: #7b8ab8 !important;
}
/* Icon */
.MuiSvgIcon-root {
  color: #7b8ab8 !important;
}

/* Under line */
.MuiInput-underline:before {
  border-bottom: 1px solid #7b8ab8 !important;
}
.MuiInput-underline:after {
  border-bottom: 2px solid #98a6d1 !important;
}
